body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#app-layout {
    display: flex;
}
#app-layout #right-col {
    flex: 3;
}
/* header */
header{
    background-color: black;
    color: whitesmoke;
    height: 65px;
    display: flex;
}
header .left {
    flex: 1;
}
header .title {
    flex: 3;
    font-size: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .right {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: right;
}

button {
    margin: 5px;
    padding: 5px 8px;
    background: blue;
    border: none; color: white;
    font-size: 10px;
}
button:hover {
    background-color: pink;
    cursor: pointer;
}
/* model window */
#model-overlay {
    background-color: grey;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
#model-overlay #model {
    max-width: 500px;
    width: 100%;
    background-color: white;
}
/* add detail form */
#model .model-header h2 {
    text-align: center;
    margin: 0;
    padding: 10px;
}
#model .model-content .row{
    display: flex;
}

#model .model-content .row .input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px 15px;
}
input[type="text"]
input[type="number"]
input[type="email"] {
    font-size: 20px;
    height: 20px;
    padding-left: 10px;
    padding-right: 12px;
    color: grey;
    border: 1px solid green;
}

#model .model-footer {
    display: flex;
    justify-content: flex-end;
    margin: 5px 10px;
}

/* contact List */
#contact-list {
    padding: 0;
    margin: 0;
    border: 1px solid pink;
    border-bottom: 0;
}

.contact-list-item {
    display: flex;
    border-bottom: 1px solid green;
    padding: 5px;
}

.content-list-item .media {
    flex: 1;
}
.contact-list-item .content {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.contact-list-item . .content .title {
    font-size: 12px;
    font-weight: bold;
    color: darkmagenta;
}
/* right column */
#right-col-detail {
    margin: 20px;
}

#right-col-detail .label {
    	font-size: 11px;
        margin-top: 10px;
        font-weight: bold;
}

#right-col-detail .data {
    font-size: 11px;
}

#app-layout #right-col .back-btn {
    display: none;
}

@media only screen and (max-width: 600px) {
    #app-layout #right-col {
        display: nonre;
    }
    #app-layout #right-col #back-btn {
        margin: 20px 0 0 20px;
        display: block;
    }
    #modal .modal-content .row {
        flex-direction: column;
    }
}